body {
    font-family: var(--font-main);

}

/* -------------------------------- */
/* SECTION 1 */
/* -------------------------------- */
.section-1 {
    background-color: var(--hintergrund-color);
    padding: 53px 0 131px 0;
}


.logo {
    font-size: 45px;
    font-weight: 700;
    color: var(--schrift-color);
    text-decoration: none;
}

.hero-title {
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;
    color: var(--schrift-color);
}

.sec1-hero-title-span {
    color: var(--button-color);
}

.hero-description {
    font-size: 22px;
    line-height: 27px;
    color: var(--schrift-color);
    width: 80%;
}

.section1-button {
    width: 286px;
    padding: 19px 0;
    background: var(--button-color);
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}

.section1-button:hover {
    background-color: var(--button-hover-color);
}

.hero-images-wrapper {
    max-width: 550px;
    width: 100%;
    position: relative;
    margin-left: auto;
}

.img-big {
    width: 428px;
    height: auto;
    max-width: 100%;
}

.img-small {
    width: 306px;
    height: auto;
    bottom: -74px;
    left: -92px;
    max-width: 100%;
}

/* -------------------------------- */
/* SECTION 2 */
/* -------------------------------- */
.section-2 {
    background-color: var(--second-hintergrund-color);
}

.section-2-image {
    width: 100%;
    max-width: 428px;
    height: auto;
    max-height: 460px;
    object-fit: cover;
}

.section-2-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 85px;
}

.section-2-text {
    font-size: 22px;
    line-height: 27px;
}

.section-2-line {
    border: 1px solid #000;
    opacity: 1;
    margin: 42px 0 58px 0;
}

.section-2-button {
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid;
    padding: 10px 30px 10px 20px;
}

.arrow-img {
    transition: transform 0.3s ease;
}

.section-2-button:hover .arrow-img {
    transform: translateX(6px);
}

/* -------------------------------- */
/* SECTION 3 */
/* -------------------------------- */
.section-3 {
    background-color: var(--hintergrund-color);
}

.section-3-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 85px;
}

.section-3-text {
    font-size: 22px;
    line-height: 27px;
}

.section-3-text-bold {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 30px;
}

.section-3-line {
    border: 1px solid #000;
    opacity: 1;
    margin: 42px 0 58px 0;
}

.section-3-button {
    font-size: 22px;
    font-weight: 700;
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: 1px solid;
    padding: 10px 30px 10px 20px;
}

.section-3-button:hover .arrow-img {
    transform: translateX(6px);
}

.section-3-imagebox {
    background: #fff;
    padding: 32px;
    max-width: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-image {
    width: 100%;
    max-width: 428px;
    height: auto;
    max-height: 440px;
}

.section-3-imagebox span {
    margin-top: 30px;
    font-size: 22px;
    color: var(--button-color);
}

/* CARD */
.step-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
}

/* HEADER: icon + title */
.step-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

/* ICON */
.icon-circle-md {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* TEXT */
.step-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

/* LINE always bottom */
.step-card hr {
    margin-top: auto;
}

.section11 {
    background-color: var(--second-hintergrund-color);
    display: flex;
    flex-direction: column;
    gap: 73px;
}

.section11-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}


.section11-articles {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0 20px;
}

/* карточка */
.section11-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    transition: 0.3s ease;
}

.section11-article:hover {
    transform: translateY(-4px);
    border-radius: 10px;
}

.section11-article:nth-child(4) {
    margin-top: 0;
}

.section11-article:nth-child(3) {
    margin-top: 40px;
}

.section11-article:nth-child(2) {
    margin-top: 80px;
}

.section11-article:nth-child(1) {
    margin-top: 120px;
}

.section11-article img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    transition: 0.4s ease;
}

.section11-article img:hover {
    border-radius: 10px;
}

.section11-untertitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 29px;
}



.section11-description {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.section-12 {
    background-color: var(--hintergrund-color);
}

/* Image */
.section-12-image {
    width: 100%;
    max-width: 428px;
    height: auto;
    max-height: 460px;
    object-fit: cover;
}

/* Content wrapper */
.section-12-content {
    display: flex;
    flex-direction: column;
}

/* Title */
.section-12-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}

.section-12-title span {
    font-weight: 700;
}

/* Divider */
.section-12-line {
    border: 1px solid #000;
    opacity: 1;
    margin: 0 0 40px 0;
}

/* Text */
.section-12-text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 18px;
}

/* section-13 */

.section-13 {
    background-color: var(--second-hintergrund-color);
}

.block-google-map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-map {
    width: 100%;
    max-width: 70%;
    height: 100vh;
    max-height: 680px;
    border-radius: 16px;
}

.legal-privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 3rem;
}

.legal-privacy a {
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.legal-privacy a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}

@media(max-width:1670px) {
    .section11-article:nth-child(2) {
        margin-top: 0;
    }

    .section11-article:nth-child(3) {
        margin-top: 0;
    }

    .section11-article:nth-child(4) {
        margin-top: 0;
    }

    .section11-articles {
        flex-wrap: wrap;
    }

    .section11-article {
        max-width: 440px;
        transition: 0.3s ease;
        text-align: center;
    }

    .section11-untertitle {
        margin-top: 12px;
        font-size: 20px;
    }

    .section11-article img {
        max-width: 440px;
    }

    .section11-description {
        font-size: 20px;
    }

    .section11-title {
        font-size: 28px;
    }


}

@media(max-width:1399px) {
    .hero-images-wrapper {
        right: -40px;
    }

    .img-big {
        max-width: 350px;
        height: auto;
        max-height: 394px;
    }

    .img-small {
        width: 100%;
        max-width: 200px;
        height: auto;
        max-height: 290px;
        bottom: -74px;
        left: -92px;
        z-index: 2;
        transition: transform 0.3s ease;
    }
}

@media (max-width: 1200px) {

    #hero .col-lg-6 {
        text-align: center;
        align-items: center;
    }

    .hero-images-wrapper {
        margin-top: 50px;
        max-width: 380px;
        margin-left: 0;
    }

    .img-small {
        width: 220px;
    }
}

@media (min-width: 1200px) {
    .section11-articles {
        flex-wrap: nowrap;
    }

    .section11-article:nth-child(1) {
        margin-top: 120px;
    }

    .section11-article:nth-child(2) {
        margin-top: 80px;
    }

    .section11-article:nth-child(3) {
        margin-top: 40px;
    }

    .section11-article:nth-child(4) {
        margin-top: 0;
    }
}

@media (max-width: 1199px) {
    .section11-articles {
        flex-wrap: wrap;
    }

    .section11-article {
        margin-top: 0 !important;
    }
}

@media (max-width: 767px) {
    .section11 {
        gap: 40px;
    }

    .section11-title {
        font-size: 26px;
        line-height: 32px;
        padding: 0 20px;
    }

    .section11-articles {
        gap: 32px;
    }

    .section11-article {
        max-width: 100%;
        margin-top: 0 !important;
        align-items: center;
        text-align: center;
    }

    .section11-description,
    .section11-untertitle {
        font-size: 18px;
        line-height: 24px;
    }
}

@media(max-width:991px) {
    .hero-title {
        font-size: 50px;
    }

    .section-2-image {
        width: 100%;
        max-width: 350px;
        height: auto;
        max-height: 394px;
        object-fit: cover;
    }

    .section-2-title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 35px;
        margin-top: 20px;
    }

    .justify-content-start {
        justify-content: center !important;
    }

    .section-2 {
        text-align: center;
    }

    .section-2-title {
        font-size: 24px;
        margin-bottom: 29px;
    }

    .section-2-text {
        font-size: 20px;
    }

    .section-2-image {
        max-width: 290px;
        max-height: 320px;
    }

    .section-2-button {
        font-size: 20px;
    }

    .section-3-title {
        font-size: 24px;
        margin-bottom: 29px;
    }

    .section-3-text {
        font-size: 20px;
    }

    .section-3-text-bold {
        font-size: 20px;
    }

    .section-3-button {
        font-size: 20px;
    }

    .section-3 {
        text-align: center;
    }

    .section-3-imagebox {
        margin: 30px auto;
        padding: 30px;
        max-width: 345px;
    }

    .section-3-image {
        max-width: 290px;
        max-height: 365px;
    }

    .section-3-imagebox span {
        margin-top: 28px;
        font-size: 16px;
    }

    .section-12-image {
        margin-bottom: 40px;
    }

    .google-map {
        max-height: 400px;
    }
}

/* @media (max-width: 895px) {

    .section11-article img {
        max-width: 440px;
        border-radius: 10px;
    }
} */

@media (max-width: 768px) {
    .hero-title {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-description {
        font-size: 20px;
    }

    .section1-button {
        width: 226px;
        padding: 15px 0;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .img-big {
        width: 290px;
    }

    .img-small {
        width: 190px;
        left: -40px;
    }
}

@media (max-width: 690px) {
    .section11-article img {
        max-width: 350px;
        max-height: 420px;
    }

    .section11-article {
        max-width: 350px;
    }

    .section-12-image {
        max-width: 350px;
        max-height: 420px;
        border-radius: 10px;
    }

    .section-12-title {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }

    .section-12-text {
        font-size: 18px;
    }

    .legal-privacy a {
        font-size: 18px;
    }
}

@media (max-width: 574px) {
    .section11-title {
        font-size: 25px;
    }
}

@media (max-width: 502px) {
    .legal-privacy {
        flex-wrap: wrap;
        padding: 0 12px;
    }
}

@media (max-width: 468px) {
    .hero-title {
        font-size: 30px;
        line-height: 40px;
    }

    .hero-description {
        font-size: 18px;
    }

    .hero-images-wrapper {
        margin-top: 50px;
        max-width: 290px;
    }

    .img-big {
        max-width: 230px;
        max-height: 310px;
    }

    .img-small {
        max-width: 145px;
        max-height: 290px;
        left: -40px;
    }

    .section1-button {
        width: 198px;
        padding: 13px 0;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;
    }

    .section-2-image {
        max-width: 230px;
        max-height: 310px;
    }

    .section-2-title {
        font-size: 22px;
        margin-bottom: 29px;
    }

    .section-2-text {
        font-size: 18px;
    }

    .section-2-button {
        font-size: 18px;
    }

    .section-3-button {
        font-size: 18px;
    }

    .section-3-title {
        font-size: 22px;
        margin-bottom: 29px;
    }

    .section-3-text {
        font-size: 18px;
    }

    .section-3-text-bold {
        font-size: 18px;
    }

    .section-3-image {
        max-width: 230px;
        max-height: 316px;
    }

    .section-3-imagebox {
        margin: 30px auto;
        padding: 28px 20px 20px 20px;
        max-width: 345px;
    }

    .section11-article {
        max-width: 380px;
    }

    .section11-article img {
        max-width: 380px;
        max-height: 400px;
    }

    .section11-untertitle,
    .section11-description {
        font-size: 18px;
    }

    .section11-button-wrapper {
        max-width: 300px;
        margin: 0 auto;
    }

    .section11-button-wrapper a {
        font-size: 16px;
    }
}

@media(max-width:375px) {

    .hero-images-wrapper {
        margin-top: 50px;
        max-width: 210px;
    }

    .img-big {
        max-width: 150px;
        max-height: 200px;
    }

    .img-small {
        max-width: 105px;
        max-height: 150px;
        left: -40px;
    }

    .section1-button {
        width: 168px;
        padding: 10px 0;
        font-size: 18px;
    }

    .section-2-image {
        max-width: 200px;
        max-height: 290px;
    }

    .section-3-imagebox {
        margin: 30px auto;
        padding: 26px 24px 26px 24px;
        max-width: 305px;
    }

    .section-3-image {
        max-width: 200px;
        max-height: 290px;
    }
}